In [16]:
import pandas as pd

#### Loading in dataset and site and contents information

In [17]:
df = pd.read_csv('SonataDataNewNew.csv')

contents = pd.read_excel('site_contents_data/amphora_content.xlsx', na_filter = False)

site = pd.read_excel(
    'site_contents_data/Template_sites_PK2.xlsx', 
    na_filter = False, 
    sheet_name = 'Sheet1', 
    usecols=['Site', 'NewName', 'Type', 'References and notes']
)

In [18]:
print(len(site))

68

In [19]:
df['Site'] = df['Site'].replace({'Romanità di Cattolica ': 'Romanità di Cattolica'})

In [20]:
site = site[site.Site != 'Pyrgi']

In [21]:
print(len(site))

67

In [22]:
site = site.rename(columns = {
                       'NewName': 'Grouped_sites',
                       'Type':'Site_type', 
                       'Site': 'site',
                       'References and notes':'Site_notes'
                       })

site.head()

,site,Grouped_sites,Site_type,Site_notes
0,Acqui Terme,Acqui Terme,urban,
1,Alba Libarna,Libarna,urban,
2,Alba Pompeia,Alba Pompeia,urban,
3,Altinum,Altinum,urban,
4,"Aquae Statiellae, corso Cavour, Albergo Bue R...",Aquae Statiellae,urban,

In [23]:
contents = contents.rename(columns = {
                               'Amphora type': 'amphora_type', 
                               'notes': 'Amphora_type_notes'
                               })
contents.head()

   amphora_type problems content              Amphora_type_notes
0  a fiorellino             wine  Panell, Rizzo 2014, 82, tab. 3
1            AC             wine
2           AC1             wine
3         AC1/2             wine
4           AC2             wine

### MERGING SITE AND DF

In [24]:
df_merged = pd.merge(df, site, how = 'left', right_on = 'site', left_on = 'Site')

In [25]:
df_merged.head()

,Unnamed: 0,Site,Publication,Period,Lower_ context_date,Upper_context_date,Amphora_type,Provenance,Frequency,Notes,Amphora_type_lower_date,Amphora_type_upper_date,Pleiades URI,Latitude,Longitude,site,Grouped_sites,Site_type,Site_notes
0,0,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Dr 6A,Adriatic Italy,3.0,via Gramsci kon IBC - IAD,-25,50,https://pleiades.stoa.org/places/383574,44.675532,8.470658,Acqui Terme,Acqui Terme,urban,
1,1,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Dr 6B,Adriatic Italy,7.0,via Gramsci kon IBC - IAD,1,150,https://pleiades.stoa.org/places/383574,44.675532,8.470658,Acqui Terme,Acqui Terme,urban,
2,2,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Dr 7-13,Baetica,26.0,via Gramsci kon IBC - IAD,-30,150,https://pleiades.stoa.org/places/383574,44.675532,8.470658,Acqui Terme,Acqui Terme,urban,
3,3,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Haltern 70,Baetica,1.0,via Gramsci kon IBC - IAD,-80,192,https://pleiades.stoa.org/places/383574,44.675532,8.470658,Acqui Terme,Acqui Terme,urban,
4,4,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Dr 2-4_5,Tyrrhenian Italy,4.0,via Gramsci kon IBC - IAD,-70,225,https://pleiades.stoa.org/places/383574,44.675532,8.470658,Acqui Terme,Acqui Terme,urban,

### MERGING CONTENTS TO THE OTHER TWO

In [26]:
df_merged['Amphora_type_main'] = df_merged['Amphora_type'].str.split("_", n = 1, expand = True)[0]

In [27]:
df_merged['Amphora_type_main'] = df_merged['Amphora_type_main'].replace({
                                                                    'Dr 2-5 ': 'Dr 2-5', 
                                                                    'Dr 7-11 ': 'Dr 7-11', 
                                                                    'Garloise 1': 'Gauloise 1', 
                                                                    'Dr 20 ':'Dr 20', 
                                                                    'Ostia LIX/XXIII': 'Ostia XXIII/LIX'
                                                                    })

In [28]:
df_merged1 = pd.merge(df_merged, contents, how = 'left', right_on = 'amphora_type', left_on = 'Amphora_type_main')

In [44]:
df_merged1.head()

,Unnamed: 0,Site,Publication,Period,Lower_ context_date,Upper_context_date,Amphora_type,Provenance,Frequency,Notes,...,Longitude,site,Grouped_sites,Site_type,Site_notes,Amphora_type_main,amphora_type,problems,content,Amphora_type_notes
0,0,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Dr 6A,Adriatic Italy,3.0,via Gramsci kon IBC - IAD,...,8.470658,Acqui Terme,Acqui Terme,urban,,Dr 6A,Dr 6A,,wine,
1,1,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Dr 6B,Adriatic Italy,7.0,via Gramsci kon IBC - IAD,...,8.470658,Acqui Terme,Acqui Terme,urban,,Dr 6B,Dr 6B,,olive oil,
2,2,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Dr 7-13,Baetica,26.0,via Gramsci kon IBC - IAD,...,8.470658,Acqui Terme,Acqui Terme,urban,,Dr 7-13,Dr 7-13,"probably all these types should be merged, bec...",fish sauce,
3,3,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Haltern 70,Baetica,1.0,via Gramsci kon IBC - IAD,...,8.470658,Acqui Terme,Acqui Terme,urban,,Haltern 70,Haltern 70,,defrutum,
4,4,Acqui Terme,"Bruno 1998., Importazione di merci e itinerari...",EI,-25,100,Dr 2-4_5,Tyrrhenian Italy,4.0,via Gramsci kon IBC - IAD,...,8.470658,Acqui Terme,Acqui Terme,urban,,Dr 2-4,Dr 2-4,,wine,

In [30]:
df_merged1.to_csv('Sonata_data_site_contents.csv')